In [1]:
#data = readlines("data_11.txt")
data = readlines("expample.txt")

27-element Vector{String}:
 "Monkey 0:"
 "  Starting items: 79, 98"
 "  Operation: new = old * 19"
 "  Test: divisible by 23"
 "    If true: throw to monkey 2"
 "    If false: throw to monkey 3"
 ""
 "Monkey 1:"
 "  Starting items: 54, 65, 75, 74"
 "  Operation: new = old + 6"
 "  Test: divisible by 19"
 "    If true: throw to monkey 2"
 "    If false: throw to monkey 0"
 â‹®
 "  Starting items: 79, 60, 97"
 "  Operation: new = old * old"
 "  Test: divisible by 13"
 "    If true: throw to monkey 1"
 "    If false: throw to monkey 3"
 ""
 "Monkey 3:"
 "  Starting items: 74"
 "  Operation: new = old + 3"
 "  Test: divisible by 17"
 "    If true: throw to monkey 0"
 "    If false: throw to monkey 1"

In [7]:
struct monkey
    myname::String
    age::Int64
end

In [11]:
jee = Person.("kala", [2,2,3])

3-element Vector{Person}:
 Person("kala", 2)
 Person("kala", 2)
 Person("kala", 3)

In [5]:
jee.myname

"kala"